.inline_p {
  display: inline-block;
  min-width: 200px;
  font-weight: 600;
}
.title {
  font-size: 14px;
}

.table {
  width: 1000px;
  justify-content: center;
  display: flex;
  margin: auto;
  margin-top: 20px;
  overflow: visible;
}
