Flask==2.0.2
flask-restx==0.5.1
flask_jwt_extended==4.2.3
Flask-SQLAlchemy==2.5.1
Flask-Cors==3.0.10
pytest
gunicorn==20.1.0
Werkzeug==2.0.3
BVCscrap==0.1.6
flask-jsonpify==1.5.0
plotly-express==0.4.1 
cvxpy==1.2.1
dataframe-image==0.0.7